.estilo-geral {
    width: 200px;
    height: 100px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  .esq-cima {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ff0000;
  }
  .esq-baixo {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #008000;
  }
  .dir-cima {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffba00;
  }
  .dir-baixo {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #0000ff;
  }